p{
    color: blueviolet;
    background-color: lightpink;
    font-size: 40px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 10px;
    word-spacing: 15px;
    text-align: justify;
    text-decoration: overline;
    text-transform: capitalize;
    text-shadow:2px 2px 2px grey;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;

}